<link href="__PUBLIC__/Back/metronic/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Back/metronic/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css">
<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-plus font-red"></i>
			<span class="caption-subject font-red uppercase">添加餐品</span>
		</div>
		<div class="actions">

		</div>
	</div>
	<div class="portlet-body form">
		<form action="__URL__/editGoodsAction" class="form-horizontal" id="tform" method="post" enctype="multipart/form-data">
			<div class="form-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group last">
							<label class="control-label col-md-3">商品图片</label>
							<div class="col-md-9">
								<div class="fileinput fileinput-new" data-provides="fileinput">
									<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
										<img src="https://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" /> </div>
									<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 400px; max-height: 400px;"> </div>
									<div>
										<span class="btn default btn-file">
                                    <span class="fileinput-new"> 选择图片 </span>
										<span class="fileinput-exists"> 变更 </span>
										<input type="file" name="img"> </span>
										<a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> 清除 </a>
									</div>
								</div>
								<div class="clearfix margin-top-10">
									<span class="label label-warning">说明</span> 图片尺寸建议为400x400或正方形图片 </div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">名称</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="name" placeholder="请输入名称" value="{$data['name']}">
								<span class="help-block"></span>
							</div>
						</div>
					</div>
				</div>
				<!--/row-->
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">成本价</label>
							<div class="col-md-6">
								<input type="text" class="form-control" name="input_price" placeholder="请输入成本价" value="{$data['input_price']}">
								<span class="help-block"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">零售价</label>
							<div class="col-md-6">
								<input type="text" class="form-control" name="retail_price" placeholder="请输入零售价">
								<span class="help-block"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
                            <label class="control-label col-md-3">扩展属性</label>
                            <div class="col-md-9">
                                <input type="text" data-role="tagsinput" name="attrs" value="{$data['attrs']}" style="min-width: 200px;"> </div>
                        </div>

					</div>
					<div class="col-md-6">
						<div class="form-group">

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">排序</label>
							<div class="col-md-3">
								<input type="text" class="form-control" name="seq" placeholder="排序数值" value="{$data['seq']}">
								<input name="id" type="hidden" value="{$data['id']}">
								<span class="help-block"></span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">类型</label>
							<div class="col-md-6">
								<select class="form-control" name="category_id">
									<volist name="category" id="item">
									<option value="{$item['id']}" <if condition="$item['id'] eq $data['category_id']">selected</if> >{$item['name']}</option>
									</volist>
								</select>
								<span class="help-block"></span>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="form-actions">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<a href="javascript:;" class="btn green" onclick="save()">保存</a>
							</div>
						</div>
					</div>
					<div class="col-md-6"> </div>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="__PUBLIC__/Back/metronic/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<script src="__PUBLIC__/Back/metronic/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js" type="text/javascript"></script>
<script type="text/javascript">
	function save(){
		$("#tform").submit();
	}
</script>