<!--本页依赖-->
<link href="__PUBLIC__/Back/metronic/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Back/metronic/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Back/js/socket.io-1.3.5.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Back/js/yunba-js-sdk.js"></script>
<!--本页依赖-->
<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-list font-red"></i>
			<span class="caption-subject font-red uppercase">合单列表</span>
		</div>
	</div>
	<div class="portlet-body">
        <div class="row form-horizontal form-row-seperated">
        	<form action="__URL__/baseWeekOrder" method="post">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-md-12">
                        <select class="bs-select form-control" data-live-search="true" data-size="8" name="shop_id">
                        	<option value="0">全部</option>
                            <volist name="shop_list" id="item">
                            <option value="{$item['id']}" <if condition="$shop_id eq $item['id']">selected</if>  >{$item['name']}</option>
                            </volist>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
				<div class="form-group">
					<div class="col-md-12">
						<input class="form-control input-group input-medium" size="16" type="text" value="{$search_key}" placeholder="请输入订单号或电话" name="search_key" />
						<if condition="$is_reserve eq 1">
						<input type="hidden" name="reserve_time" value="{$reserve_time}">
						</if>
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-warning pull-right" id="refreashbtn" onclick="location.reload();" style="width:80px;margin-right: 15px;">刷新(0)</button>
			<button type="submit" class="btn green pull-right" style="width:80px;margin-right: 15px;">筛选</button>
			</form>
        </div>
		<div class="tabbable tabbable-tabdrop">
			<if condition="$is_reserve eq 1">
			<ul class="nav nav-tabs">
				<li <if condition="$reserve_time eq $today">class="active"</if> >
					<a class="category_tab" href="#tab1" data-toggle="tab" data-category="{$today}">今天<small>({$order_count[0]}单)</small></a>
				</li>
				<volist name="days" id="item" key='k'>
				<li <if condition="$reserve_time eq $item['date']">class="active"</if>>
					<a class="category_tab" href="#tab1" data-toggle="tab" data-category="{$item['date']}">{$item['name']}<small>({$order_count[$k]}单)</small></a>
				</li>
				</volist>
				<li>
					<a class="category_tab" href="#tab1" data-toggle="tab">周餐</a>
				</li>
			</ul>
			</if>
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
					<div class="table-scrollable table-scrollable-borderless">
						<table id="list1" class="table table-striped table-hover table-light">
							<thead>
								<tr>
									<th width="3%"> 订单号/店名 </th>
									<th width="5%"> 下单时间 </th>
									<th width="15%"> 子订单 </th>
									<!-- <th width="5%"> 送达时间 </th> -->
									<th width="8%"> 备注 </th>
									<th width="10%"> 订单金额 </th>
									<th width="7%"> 参与活动 </th>
									<th width="8%"> 顾客信息 </th>
									<th width="5%"> 状态 </th>
									<th width="9%"> 操作 </th>
								</tr>
							</thead>
							<tbody>
								<volist name="list['data']" id="item">
								<tr data-sort="{$item['sort']}" data-category="{$item['category_id']}" data-id="{$item['id']}">
									<td>
									{$item['id']}
									<br />
									{$item['shop_name']}
									</td>
									<td>
									{$item['create_time']|date='m-d',###}
									<br>
									{$item['create_time']|date='H:i:s',###}
									</td>
									<td>
									{$item['user_attrs']}
									</td>
									<!-- <td>
									<if condition="$item['is_pick'] eq 1">
									{$item['reserve_time']|date='H:i',###}
									<br />
									(自提)
									<else />
									{$item['reserve_time']|date='H:i',###}
									</if>

									
									</td> -->
									<td>{$item['user_remark']}</td>
									<td>
									{$item['pay_money']}
									<br>
									<if condition="$item.send_money neq 0">
									(含运费:{$item['send_money']|sprintf="%.2f",###})
									<br>
									</if>
									<if condition="$item.pay_type eq 1">
									微信支付
									<elseif condition="$item.pay_type eq 2" />
									货到付款
									<else />
									余额支付
									</if>
									</td>
									<td>
										<if condition="$item.bonus_money neq 0">
										红包立减{$item['bonus_money']}元
										</if>
										<br>
										<volist name="item['activity']" id="activity">
										{$activity.name}
										<br>
										</volist>
									</td>
									<td>
										{$item['user_name']}(昵称：{$item['nickname']})
										[第{$item['user_buytimes']}次下单]
										<br>
										{$item['user_tel']}
										<br>
										<if condition="$item['is_pick'] eq 0">
										{$item['user_address']}
										<else />
										自提地址:
										<br />
										{$item['pick_address']}
										</if>
										
									</td>
									<td>
										<if condition='$item.status eq 0'>
										<span class="label label-danger">未接单</span>
										<elseif condition='$item.status eq 1' />
										<span class="label label-info">已接单</span>
										<elseif condition='$item.status eq 2' />
										<span class="label label-warning">配送中</span>
										<elseif condition='$item.status eq 3' />
										<span class="label label-success">已完成</span>
										<else />
										<span class="label label-default">已取消</span>
										</if>
									</td>
									<td>
										<!-- <if condition="$item.base_id eq 0">
											<if condition="$item.status eq 0">
											<a onclick="changeOrderStatus(this,{$item.id},1,{$item['pay_type']})">接单</a>
											<elseif condition="$item.status eq 1" />
											<a onclick="changeOrderStatus(this,{$item.id},2,{$item['pay_type']})">配送</a>
											</if>
											<if condition="$item.status eq 2">
											<a onclick="changeOrderStatus(this,{$item.id},3,{$item['pay_type']})">完成</a>
											</if>
											<if condition="$item.status neq 4">
											<a onclick="changeOrderStatus(this,{$item.id},4,{$item['pay_type']})">取消订单</a>
											</if>
										</if> -->
									</td>
								</tr>
								</volist>
							</tbody>
						</table>
					</div>

				</div>

			</div>
			<div class="megas512">
            {$list['page']}
        	</div>
		</div>

	</div>
</div>
<audio id="bgMusic">
	<source src="__PUBLIC__/Back/weilai.wav" type="audio/wav" >
</audio>
<!-- <script>
	function changeStatus(id,now_status){
		$.post("__URL__/changeStatus",{id:id,now_status:now_status},function(res){
			if(res.status == 'ok'){
				location.reload();
			}
		},'json')
	}
</script> -->
<!--本页依赖-->
<script src="__PUBLIC__/Back/js/jquery.dragsort-0.5.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/Back/metronic/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/Back/metronic/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/Back/metronic/assets/global/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js" type="text/javascript"></script>
<script src="__PUBLIC__/Back/js/jquery.timeago.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/Back/metronic/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/Back/metronic/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/Back/metronic/assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js" type="text/javascript"></script>
<!--本页依赖-->
<script>
    $(function() {
        jQuery("abbr.timeago").timeago();
        $(".bs-select").selectpicker({
            iconBase: "fa",
            tickIcon: "fa-check"
        })

        $(".category_tab").click(function(){
        	var category = $(this).attr("data-category");
        	var shop_id = $("select[name='shop_id']").val();
        	var search_key = $("input[name='search_key']").val();
        	location.href = '__URL__/index?shop_id='+shop_id+'&search_key='+search_key+'&reserve_time='+category;
        })
    })

    function changeOrderStatus(obj,order_id,status,pay_type){
		$(obj).attr("disabled","disabled");
		if(status == 4 && pay_type ==1){
			if(confirm('该订单为微信支付，取消订单将给用户全额退款')){
				$.post("__URL__/changeOrderStatus",{order_id:order_id,status:status},function(res){
					if (res.result_code == 'SUCCESS') {
			                alert('退款成功');
			                location.reload();
			            }else{
			            	alert(res.err_code_des)
			                // alert('已退过款');
			            }
				},'json')
			}
		}else if(status == 4 && pay_type == 3){
			if(confirm('该订单为余额支付，取消订单将给用户全额退款')){
				$.post("__URL__/changeOrderStatus",{order_id:order_id,status:status},function(res){
					if (res.result_code == 'SUCCESS') {
			                alert('退款成功');
			                location.reload();
			            }else{
			            	alert(res.err_code_des)
			                // alert('已退过款');
			            }
				},'json')
			}

		}else if(status == 4){
			if(confirm('是否取消该订单？')){
				$.post("__URL__/changeOrderStatus",{order_id:order_id,status:status},function(res){
					alert('取消成功')
					location.reload();
				})
			}
			
		}else{
			$.post("__URL__/changeOrderStatus",{order_id:order_id,status:status},function(res){
					location.reload();
				})
		}
		
	}

</script>
<script>
	var yunba = new Yunba({appkey: '578464716e72de8249271750'});
	yunba.init(function (success) {
		if (success) {
			mqtt_connect();
		}
	});
	var audio = document.getElementById("bgMusic");
	var num = 0;
	yunba.set_message_cb (function (data) {
		num ++;
		$('#refreashbtn').text("刷新("+num+")");
		audio.play();
	});

	function mqtt_connect() {
		yunba.connect(function (success, msg) {
			if (success) {
			<volist name="shop_list" id="item">
				var topic = "order_{$item['id']}";
				yunba.subscribe({'topic': topic }, function (success, msg) {
					if (success) {

					} else {
						alert(msg);
					}
				});
			</volist>
			} else {
				alert(msg);
			}
		});
	}

	//监听关闭浏览器窗口时要断开mqtt连接
	window.onbeforeunload = function(){
			yunba.disconnect();
	}
</script>