<!DOCTYPE html>
<html class="moneybody reddocheigt">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title></title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/common.css" />
	</head>

	<body class="moneybody bgb">
		<header>
			<!--<button class="mui-btn mui-btn-link mui-btn-nav mui-pull-left">
				<span class="mui-icon mui-icon-left-nav"></span>买东西
			</button>-->
			<div class="redheader">
				<div class="guanzhutext"></div>
			</div>
		</header>
		<div class="redcontent">
			<div class="contentext"><h4 class="titimg"></h4>
				<div class="redqrcode">
					<img src="__PUBLIC__/Home/images/qrcode_for_gh_0ca8b5be8c71_430.jpg"/>
				</div>
				<div class="text">红包可在“十分便利”抵扣购买各种零食哦！</div>
			</div>
		</div>
	</body>
	<script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript">
	if($(window).height()>500){
		$('.redcontent').height($(document).height()-$('header').height()-70);
		$('.redqrcode img').height(200);
	}
		
	</script>
</html>