<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <!-- <i class="fa fa-plus font-red"></i>
            <span class="caption-subject font-red uppercase">添加餐品</span> -->
        </div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body form">
        <div class="page-content no-margin">
            <div style="position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0;">
                <div class="text-center" style=" margin-bottom: 40px;">
                    <img src="__PUBLIC__/Back/metronic/img/logo_2.png" / width="200px">
                </div>
                <h2 class="text-center center-block" style="margin-bottom: 40px;">欢迎使用味来外卖系统!</h2>
                <!-- <div class="text-center">
                    <a href="#" class="btn btn-success btn-lg" style="width: 150px;">开始使用</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
