<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />

		<title>{$info['partner_name']}</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/weui.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/iconfont.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/css.css?v2" />
		<style type="text/css">
			.loading {
				width: 100%;
				height: 100%;
				position: fixed;
				top: 0;
				z-index: 999;
				background: url(__PUBLIC__/Home/img/loading.gif) center center no-repeat #fff;
				-webkit-background-size: 100px auto;
				background-size: 100px auto;
				text-align: center;
			}
			
			.loading.on {
				-webkit-transition: .5s;
				transition: .5s;
				-webkit-transform: translateY(-100%);
				transform: translateY(-100%);
			}
			
			.loading span {
				position: relative;
				top: 40%;
				color: #02B9C2;
				font-size: 22px;
			}
		</style>
	</head>

	<body>
		<div class="loading">
			<span>{$info['partner_name']}</span>
		</div>
		<div class="page">
			<header class="n-nav-bar">
				<if condition="$shop_num gt 1">
				<button class="n-header-link n-pull-left" onclick="location.href='/index.php/Home/SelectShop/index';">门店<span class="selecticon"></span></button>
				</if>
				<!--<h1 class="n-title">十分便利</h1>-->
				
					
				<h1 class="n-title">{$info['name']}</h1>

			</header>
			<if condition="$info['is_close'] eq 1">
				<div class="n-banner-header banner1">
					<h3>休息中！</h3>
					<p>营业时间：{$info['start_time']} - {$info['end_time']}</p>
				</div>
			</if>
			<div class="n-footer-bar">
				<div class="shopcar">
					<a href="/index.php/Home/Index/shopcart" class=""> <i class="iconfont icon-gouwuche"></i>
						<div class="numdot" id="sc_num">0</div>
					</a>
				</div>
				<a href="/index.php/Home/Index/checkShopCart" class="orderbtn">下单</a>
				<div class="price">¥<b id="sc_money">0</b>元 <span id="base_price_show" <if condition="$info['base_price'] eq 0">style="display: none;</if>"><span class="fontreds" id="base_price">{$info['base_price']}</span>元起送</span>
				</div>
			</div>
			<div class="n-fullpagebox">
				<div class="n-leftmenu">

					<div class="xs-container">
						<div class="xs-content">
							<ul id="catlist">
								
							</ul>
						</div>
					</div>
				</div>
				<div class="n-rightcontent">
					<div class="xs-container">
						<div class="xs-content">
							<div class="msgtabox">
								<div class="infom" style="display:none">
									<div class="tag2">惠</div>
									<div class="text">餐品满50减5,满80减9,满100减12,你们怕不怕!</div>
								</div>
							</div>

							<ul class="n-goodslist">
							</ul>
							<if condition="$info['show_bottom_address'] eq 1">
							<p class="addrboxtext">{$info['bottom_address']}</p>
							</if>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			var ossurl = '{$Think.config.OSS_URL}';
			var ispartner = 0;
			var init_cat = "{$cat_id}";
		</script>
		<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script>
			wx.config({
				debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，
				appId: '{$share.signPackage.appId}',
				timestamp: '{$share.signPackage.timestamp}',
				nonceStr: '{$share.signPackage.nonceStr}',
				signature: '{$share.signPackage.signature}',
				jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage']
			});
			wx.ready(function () {
				// 在这里调用 API
				// 获取“分享到朋友圈”按钮点击状态及自定义分享内容接口
				wx.onMenuShareTimeline({
					title: '{$share.pyq.title}', // 分享标题
					link:"{$share.pyq.link}",
					imgUrl: "{$share.pyq.imgUrl}" // 分享图标
				});
//                获取“分享给朋友”按钮点击状态及自定义分享内容接口
				wx.onMenuShareAppMessage({
					title: '{$share.hy.title}', // 分享标题
					desc: "{$share.hy.desc}", // 分享描述
					link:"{$share.hy.link}",
					imgUrl: "{$share.hy.imgUrl}", // 分享图标
					type: 'link' // 分享类型,music、video或link，不填默认为link
				});
			});
		</script>
		<script src="https://lib.sinaapp.com/js/jquery/2.2.4/jquery-2.2.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/Home/js/fastclick.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/Home/js/xscroll-master.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://sfwm.oss-cn-beijing.aliyuncs.com/webfile/Home/js/index.js" type="text/javascript" charset="utf-8"></script>
		<div style="display: none">
			<script src="https://s4.cnzz.com/z_stat.php?id=1260548309&web_id=1260548309" language="JavaScript"></script>
		</div>
		<script type="text/javascript">
			$(function(){
				$.get("__URL__/setVisit","",function(){
					
				})
			})
		</script>
	</body>
</html>