<!DOCTYPE html>
<html manifest="__PUBLIC__/fen.manifest">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-cache,no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>十分便利  0元起 免费送</title>
    <script type="text/javascript">if(window.localStorage.getItem('index')==1){window.localStorage.setItem('index',0);location.href=location.href+'?'+Math.random();}</script>
    <link rel="stylesheet" href="__PUBLIC__/NewHome/css/loading.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/NewHome/css/mui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/NewHome/css/common.min.css?1.0" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/NewHome/css/iconfont.min.css" />
    <script type="text/javascript">
        window.onload=function(){
            document.getElementById('loading').style.display='none';
            document.getElementById("page").style.display='block';
            canNext = 1;
            if(cat_id == 'my')$('.alertmsg').html('﹌○﹋没有更多啦');
            if(!isopen) {setTimeout(function(){
                alert(openmsg);
            },2000);$('.orderbtn').addClass('off');$('.orderbtn').html('打烊了');}
            $('a').each(function(){
                var href = $(this).attr('href');
                href = href+'?'+Math.random();
                $(this).attr('href',href);
            });
        }
    </script>
</head>

<body>

<div id="loading" class="cssload-wraper">
    <div class="cssload-dots"></div>
</div>
<div id="page" style="display: none;">
    <header class="mui-bar np">
         <a href="{:U('SelectShop/index')}" class="citysel mui-ellipsis">切换</a>
        <h1 class="mui-title">{$setting['shop_name']}</h1>
    </header>
    <div class="mui-bar mui-bar-footer">
        <button class="orderbtn" onclick="goOrder()">下单</button>
        <div class="price">￥<b id="totalmoney">{$shopcartcount['totalmoney']}</b>元 <span><if condition="$hasBonus eq 0">15分钟，快速送达<else/>您有{$hasBonus}个红包可使用</if></span></div>
    </div>
    <div class="mui-content pb0">
        <div class="menu">
            <div class="row">
                <volist name="category_list" id="item">
                <a <if condition="$cat_id eq $item['id']"> class="active" </if>  href="{:U('Index/shop',array('cat'=>$item['id']))}">{$item['name']}</a>
                </volist>
                <a <if condition="$cat_id eq 'my'"> class="active" </if> href="{:U('Index/shop',array('cat'=>'my'))}">我常买的</a>
            </div>
        </div>
        <empty name="goodsList">
            <div id="shopcartempty" style="text-align: center; line-height: 24px;  position: absolute;  left: 0;  right: 0; color: #999; top: 50%; margin-top: -12px;">您还没有买过东西哦 ⊙﹏⊙‖<br/><a href="{:U('Index/index')}">买东西~ ~</a></div>
        </empty>
        <ul class="goodslist pd" id="goodslisttmpl">
            <foreach name="goodsList" item="item">
                <li class="mui-col-xs-4 mui-col-sm-3 mui-pull-left" data-id="{$item['id']}">

                    <div class="imgbox">
                        <if condition="$item['is_close'] neq 1 and $item['can_buy'] neq 0 and $item['num'] gt 0 and $item['is_over'] neq 1">
                            <notempty name="item['delivery_time']">
                            <div class="songdabox"><div class="songda">{$item['delivery_time']}分钟必达</div></div>
                            </notempty>
                        </if>
                        <if condition="$item['is_close'] eq 1">
                            <div class="songdabox"><div class="songda off">暂停营业</div></div>
                            <else/>
                            <if condition="$item['can_buy'] eq 0">
                                <div class="songdabox"><div class="songda off">{$item['buy_msg']}</div></div>
                                <else/>
                                <if condition="$item['num'] elt 0 ">
                                    <div class="songdabox"><div class="songda off">已售完</div></div>
                                </if>
                                <if condition="$item['is_over'] eq 1">
                                    <div class="songdabox"><div class="songda off">暂停售卖</div></div>
                                </if>
                            </if>
                        </if>

                        <img data-lazyload="{$item['img']}">
                        <if condition="$item['is_new'] eq 1"><div class="newicon"><img src="__PUBLIC__/NewHome/images/new.png" /></div></if>
                        <div class="numdot" <if condition="$item['buynum'] eq 0"> style="display:none;"<else/>style="display:block;" </if> >{$item['buynum']}</div>
                    <if condition="$item['is_close'] eq 1">
                        <div class="nothis">
                            <div class="null"></div>
                         </div>
                    <else/>
                        <if condition="$item['can_buy'] eq 0">
                            <div class="nothis"><div class="null"></small></div></div>
                            <else/>
                            <if condition="$item['num'] elt 0 or $item['is_over'] eq 1">
                                <div class="nothis">
                                    <div class="null"></div>
                                </div>
                            </if>
                        </if>
                    </if>
                    </div>
                <h4> <span>{$item['name']}</span>
                    <if condition="$item['num'] gt 0 and $item['is_over'] eq 0 and $item['can_buy'] eq 1">
                    <div class="number">
                        <if condition='$item["buynum"] eq 0'> <span class="min dis iconfont icon-16jiajianjian"></span> <else/><span class="min iconfont icon-16jiajianjian"></span>  </if>
                        <span class="num" data-max="{$item['num']}" data-id="{$item['id']}" data-price="{$item['price']}">{$item['buynum']}</span>
                        <span class="add iconfont icon-15jiajianjia"></span>
                    </div>
                    </if>
                </h4>
                <div class="price">￥{$item['price']}元</div>
            </li>
            </foreach>
        </ul>
        <div class="alertmsg" style="display: none;">加载中...</div>
    </div>
    <div class="shopcar">
        <a href="{:U('Index/shopcart')}" class=""> <i class="iconfont icon-gouwuche"></i>
            <div class="numdot" id="totalcount">{$shopcartcount['count']}</div>
        </a>
    </div>
    <div id="modal" class="mui-modal">
        <header class="mui-bar mui-bar-nav">
            <a href="#modal" class="mui-btn mui-btn-link mui-btn-nav mui-pull-left">
                取消
            </a>
            <h1 class="mui-title">搜索商品</h1>
        </header>
        <div class="mui-content" style="height: 100%;">
            <div class="serchtop">
                <!--<a class="close mui-icon mui-icon-left-nav" href="#modal"></a>-->
                <div class="searchbox">
                    <input type="text" class="searchmd" placeholder="请输入您要购买的商品" /><i class="iconfont icon-search"></i></div>
                <button class="searchbtn">搜索 </button>
            </div>
            <h4 class="titlemin">
                热门搜索
            </h4>
            <div class="listtag">
                <a href="#">可口可乐</a>
                <a href="#">话梅</a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="__PUBLIC__/NewHome/js/mui.min.js"></script>
<script src="__PUBLIC__/NewHome/js/mui.lazyload.js"></script>
<script src="__PUBLIC__/NewHome/js/mui.lazyload.img.js"></script>
<script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/NewHome/js/index.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    mui.init();var canNext = 0;var pageUrl = "{:U('Index/getGoodsList',array('cat'=>$cat_id))}";var cat_id = "{$cat_id}";var page = 2;var changeUrl = "{:U('Index/changenum')}";var placeholder = '__PUBLIC__/NewHome/images/default.gif';var shopcartUrl = "{:U('Index/shopcart')}";var checkcartUrl = "{:U('Index/shopCartCount')}";var orderUrl = "{:U('Index/wxorder')}";var isopen = {$isopen};var shopcount = "{$shopcartcount['count']}";var imgLazyloadApi;var isFirst = "{$isFirst}";var closemsg = "{$setting['close_msg']}";var openmsg = "{$setting['open_msg']}";
    $(function(){if(isFirst == '1') {}
        $.post("{:U('Index/getShopcart')}",{},function(res){
            res = eval('('+res+')');
            if(res.count>0){
                $('#totalmoney').html(res.totalmoney);
                $('#totalcount').html(res.count);
                $('.mui-content').removeClass('pb0');
                showCart();
            }
        });
    });
</script>
<script src="__PUBLIC__/Home/js/jquery.tmpl.min.js"></script>
<script id="indexTemplate" type="text/x-jquery-tmpl">
    <li class="mui-col-xs-4 mui-col-sm-3 mui-pull-left" data-id="${id}">
        <div class="imgbox">
        {{if is_close != 1 && can_buy != 0 && num > 0 && is_over != 1 }}
            {{if delivery_time >0 }}
            <div class="songdabox"><div class="songda">${delivery_time}分钟必达</div></div>
            {{/if}}
        {{/if}}
        {{if is_close== 1 }}
            <div class="nothis">
                    <div class="null"></div>
                </div>
            <div class="songdabox"><div class="songda off">暂停营业</div></div>
        {{else}}
            {{if can_buy == 0 }}
                <div class="nothis">
                    <div class="null"></div>
                </div>
                <div class="songdabox"><div class="songda off">${buy_msg}</div></div>
            {{else}}
                {{if num <= 0}}
                    <div class="nothis">
                        <div class="null"></div>
                    </div>
                    <div class="songdabox"><div class="songda off">已售完</div></div>
                {{/if}}
                {{if is_over == 1 }}
                    <div class="nothis">
                        <div class="null"></div>
                    </div>
                    <div class="songdabox"><div class="songda off">暂停售卖</div></div>
                {{/if}}
            {{/if}}
        {{/if}}
        <img data-lazyload="${img}">
            {{if is_new == 1}}<div class="newicon"><img src="__PUBLIC__/NewHome/images/new.png" /></div>{{/if}}
            <div class="numdot" {{if buynum==0 }} style="display:none" {{else}} style="display:block" {{/if}}>${buynum}</div>
        </div>
        <h4> <span>${name}</span>
            {{if num>0&&is_over==0&&can_buy==1 }}
            <div class="number">
                <span class="min dis iconfont icon-16jiajianjian"></span>
                <span class="num" data-max="${num}" data-id="${id}" data-price="${price}">${buynum}</span>
                <span class="add iconfont icon-15jiajianjia"></span>
            </div>
            {{/if}}
        </h4>
        <div class="price">￥${price}元</div>
    </li>
</script>
<script>(function($) {
    imgLazyloadApi = $(document).imageLazyload(
            {
                autoDestroy: false,
                placeholder: placeholder
            }
    );
})(mui);
</script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>wx.config({debug: false,appId: '{$signPackage.appId}', timestamp: '{$signPackage.timestamp}', nonceStr: '{$signPackage.nonceStr}', signature: '{$signPackage.signature}', jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage']});wx.ready(function () {wx.onMenuShareTimeline({title: '{$share_data.title}',desc: "{$share_data.desc}", link:"{$share_data.link}", imgUrl: "{$share_data.imgUrl}"});wx.onMenuShareAppMessage({title: '{$share_data.title}', desc: "{$share_data.desc}", link:"{$share_data.link}", imgUrl: "{$share_data.imgUrl}", type: 'link'});});</script>
<script src="" id="tj"></script>
</html>