<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>订单详情</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/weui.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery-weui.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/iconfont.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/css.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/order.css" />
	</head>

	<body>
		<!--<header class="n-nav-bar">
<button class="n-header-link n-pull-left"><span class="backicon"></span>返回</button>
<h1 class="n-title">十分便利</h1>
</header>-->
		<div class="n-pagebox">
			<h5 class="h5tit">自提地址</h5>
			<div class="n-card">
				<div class="weui_cell">
					<div class="weui_cell_hd">
						<label class="weui_label">称呼</label>
					</div>
					<div class="weui_cell_bd weui_cell_primary">
						<input class="weui_input" type="text" placeholder="请输入您的称呼">
					</div>
				</div>

				<div class="weui_cell">
					<div class="weui_cell_hd">
						<label class="weui_label">电话</label>
					</div>
					<div class="weui_cell_bd weui_cell_primary">
						<input class="weui_input" type="text" placeholder="请输入您的电话号码">
					</div>
				</div>
				<div class="weui_cell">
					<div class="weui_cell_hd">
						<label class="weui_label">性别</label>
					</div>
					<div class="weui_cell_bd weui_cell_primary">
						<select class="weui_select" name="select1">
							<option selected="" value="0">请选择</option>
							<option value="1">男</option>
							<option value="2">女</option>
						</select>
					</div>
				</div>
				<div class="weui_cell">
					<div class="weui_cell_hd"><label for="" class="weui_label">生日</label></div>
					<div class="weui_cell_bd weui_cell_primary">
						<input class="weui_input" type="date" value="">
					</div>
				</div>
				<div class="weui_cell"  style="align-items:top;">
					<div class="weui_cell_hd">
						<label class="weui_label">电话</label>
					</div>
					<div class="weui_cell_bd weui_cell_primary">
						<textarea class="weui_input" style="padding: 10px 0; min-height: 60px" type="text" placeholder="请输入您的电话号码"></textarea>
					</div>
				</div>
			</div>

			<div class="m15">
				<button class="weui_btn weui_btn_primary">完成</button>
			</div>
			<div style="padding-bottom: 20px;"></div>
		</div>

		<script src="__PUBLIC__/Home/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/Home/js/jquery-weui.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/Home/js/fastclick.js" type="text/javascript" charset="utf-8"></script>

	</body>

</html>