<!doctype html>
<html lang="zh-CN" class="h100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的优惠券</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/jquery-weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/css.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/jifen.css">
</head>
<body>
<div class="cumulative-box">
    <div class="numbox">
        <h4>当前积分</h4>
        <div class="num">180</div>
    </div>
</div>
<div class="n-box-15">
    <h4 class="receive-title"><span>活动规则</span></h4>
    <div class="receive-content">
        1.红包新老用户同享 <br>
        2.红包可与其他优惠叠加使用，首单支付红包不可叠加<br>
        3.红包仅限在美团外卖最新版客户端下单且选择在线支付时使用<br>
        4.仅限在线支付使用，且收餐人手机号、领取红包时输入的手机号和账号中的手机号需为同一手机号<br>
        5.部分用户可领取大额“美团专送支付红包”(优惠券详情可见客户端“我的-美团红包”)，可与满减、再减等多种优惠活动同享<br>
        6.敬请关注标有“美团专送”商家的“再减3元”活动，可在优惠活动的基础上再减3元<br>
        7.其他未尽事宜，请咨询客服
    </div>
</div>

</body>
</html>