<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>分享 </title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/weui.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/iconfont.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/css.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/shear.css"/>
	</head>

	<body>
		<div class="invitedemo">
			<div class="democontent">
				<!-- <div class="userinfo">
					<img class="headimg" src="img/0.jpg" alt="" />
					<h5><span>朴仝帅</span>邀请您进店看看！</h5>

				</div> -->
				<div class="inimgbox">
					<img src="__PUBLIC__/Home/img/noimage2.jpg" alt="" />
					<div class="shadow"></div>
				</div>
				<div class="qrcode">
					<img src="{$info['qrcode']}" alt="" />
				</div>
				<div class="shopname">长按二维码识别关注<span>{$info['name']}</span></div>
			</div>

		</div>

	</body>

</html>