<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->
	<!-- BEGIN HEAD -->

	<head>
		<meta charset="utf-8" />
		<title>味来 平台管理</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- BEGIN GLOBAL MANDATORY STYLES -->
		<link href="__PUBLIC__/Back/metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/Back/metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/Back/metronic/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />

		<link href="__PUBLIC__/Back/metronic/assets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/Back/metronic/assets/layouts/layout4/css/themes/light.min.css" rel="stylesheet" type="text/css" />
	</head>
	<!-- END HEAD -->

	<body class="">

		<!-- BEGIN CONTAINER -->
		<div class="page-container">

			<!-- END SIDEBAR -->
			<h2 class="text-center center-block" style="max-width:500px; position:fixed; top: 38%;  left: 0%; right: 0%; padding: 40px 0px; background-color: #fff;">
				<span class="font-red fa fa-exclamation-circle"> </span><span> 操作失败！</span>
				<div class="font-grey-mint" style="font-size: 14px; font-weight: normal; margin-top: 10px;">
					5秒后跳转，如果未跳转请<a href="#">点击这里</a>跳转
				</div>
			</h2>

		</div>
		<!--[if lt IE 9]>
		<script src="__PUBLIC__/Back/metronic/assets/global/plugins/respond.min.js"></script>
		<script src="__PUBLIC__/Back/metronic/assets/global/plugins/excanvas.min.js"></script>
		<![endif]-->

	</body>

</html>