<!--当页依赖-->
<link href="__PUBLIC__/Back/metronic/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Back/metronic/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css">


<link href="__PUBLIC__/Back/metronic/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />

<!--当页依赖-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus font-red"></i>
            <span class="caption-subject font-red uppercase">权限帐号设置</span>
        </div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body form">
        <form action="" class="form-horizontal" id="tform" method="post">
            <input type="hidden" name="account_id" value="">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">帐号</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="tel" value="{$info['tel']}" placeholder="手机号">
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">密码</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="pwd" value="{$info['pwd']}" autocomplete="new-password">
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            
                            <button type="button" class="btn green" onclick="subForm(this,'tform','__URL__/addAccount')">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
</script>